openapi: 3.0.3
info:
  title: 4XS Document API
  version: 1.0.0
  description: |
    Đây là API tài liệu của hệ thống Team4XS.
    Bạn có thể dùng các endpoint dưới đây để thao tác dữ liệu.

servers:
  - url: https://api.myserver.com/v1
    description: Production server
  - url: https://staging.myserver.com/v1
    description: Staging server

tags:
  - name: Auth
    description: Các API liên quan đến đăng nhập và xác thực
  - name: User
    description: Quản lý thông tin người dùng
  - name: Device
    description: Quản lý thiết bị

paths:
  /auth/login:
    post:
      summary: Đăng nhập hệ thống
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Đăng nhập thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"

  /users:
    get:
      summary: Lấy danh sách người dùng
      tags:
        - User
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: Số trang
      responses:
        "200":
          description: Danh sách người dùng
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"

components:
  schemas:
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          example: admin@example.com
        password:
          type: string
          example: 123456
    LoginResponse:
      type: object
      properties:
        token:
          type: string
          example: eyJhbGciOiJIUzI1...
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
