openapi: 3.1.0
info:
  title: 4XS Document API SascoPortal
  description: |
    Đây là API tài liệu của hệ thống Team4XS.
    Bạn có thể dùng các endpoint dưới đây để thao tác dữ liệu.
  version: 1.1.1
  # termsOfService: 'https://redocly.com/subscription-agreement/'
  contact:
    email: Team4XS@gmail.com
    url: "https://team4xs.redocly.app/"
  # license:
  #   name: MIT
  #   url: "https://opensource.org/license/mit/"
servers:
  - url: https://api.example.com
    description: Production server
paths:
  /tickets:
    post:
      summary: Buy museum tickets
      description: Purchase museum tickets for general entry or special events.
      operationId: buyMuseumTickets
      tags:
        - SascoPortal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "../shared/schemas.yaml#/BuyMuseumTicketsRequest"
            examples:
              general_entry:
                $ref: "../shared/examples.yaml#/BuyGeneralTicketsRequestExample"
              event_entry:
                $ref: "../shared/examples.yaml#/BuyEventTicketsRequestExample"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "../shared/schemas.yaml#/BuyMuseumTicketsResponse"
              examples:
                general_entry:
                  $ref: "../shared/examples.yaml#/BuyGeneralTicketsResponseExample"
                event_entry:
                  $ref: "../shared/examples.yaml#/BuyEventTicketsResponseExample"
        "400":
          $ref: '../shared/responses.yaml#/BadRequest'
        "404":
          $ref: '../shared/responses.yaml#/NotFound'
  /tickets/{ticketId}/qr:
    get:
      summary: Get ticket QR code
      description: Return an image of your ticket with scannable QR code. Used for event entry.
      operationId: getTicketCode
      tags:
        - SascoPortal
      parameters:
        - $ref: "../shared/parameters.yaml#/TicketId"
      responses:
        "200":
          description: Scannable event ticket in image format.
          content:
            image/png:
              schema:
                $ref: "../shared/schemas.yaml#/GetTicketCodeResponse"
        "400":
          $ref: '../shared/responses.yaml#/BadRequest'
        "404":
          $ref: '../shared/responses.yaml#/NotFound'
tags:
  - name: SascoPortal
    description: Project 4XS for SASCO

security:
  - MuseumPlaceholderAuth: []
